doctype 5
html
  head
    meta(charset='utf-8')
    title LD28 Referee
    link(href='http://fonts.googleapis.com/css?family=Press+Start+2P', rel='stylesheet', type='text/css')
    link(href="/styles/styles.css", rel="stylesheet", type="text/css")

  body
    .referee
      .game-controls
        h1 Controls
        a#start-game(href="javascript:void(0)") Start Game
        p#time-left
      .players#players
        h1 Players
        p#count
        ul

    script(src="/socket.io/socket.io.js")
    script(src="/scripts/vendor.min.js")

    script
      var token;
      var timeLeftTimer;
      var state = {};
      var socket = io.connect('/');

      socket.emit('newReferee', prompt('password please'));

      socket.on('token', function(data) {
        token = data.token;
        socket.emit('getPlayers', token);
      });

      socket.on('players', function(data) {
        $('#players > ul').empty();
        for (var player in data.players) {
          $('#players > ul').append("<li>" + player + "</li>");
        }
        $('#count').text($('#players > ul > li').size());
      });

      socket.on('state', function(data) {
        state = data;

        if (data.time) {
          state.endTime = Math.floor((new Date).getTime()/1000) + data.time;

          $('#start-game').css('opacity', '.5');
          $('#start-game').css('cursor', 'default');

          timeLeftTimer = setInterval(function() {
            var timeLeft = state.endTime - Math.floor((new Date).getTime()/1000);

            if (timeLeft < 0) {
              timeLeft = 0;
            }

            $('#time-left').text(timeLeft);
          }, 300);
        }
        else {
          $('#start-game').css('opacity', '1');
          $('#start-game').css('cursor', 'pointer');
          clearInterval(timeLeftTimer);
          $('#time-left').text('0');
        }
      });

      $('#start-game').click(function(event) {
        event.preventDefault();

        if (!state.time) {
          socket.emit('startGame', token);
        }
      });

    if reload
      script(src="http://localhost:35729/livereload.js")
