.title#title
  h1 PIXELFALL

.name#name
  p Welcome, brave soul. I hear you're looking to drop some pixels. Well, if it's some downwards blocky action you want, listen up.
  p The winner is the one who falls the furthest. But watch out for the white and black blocks! You can only break through blocks when you're the same color. Oh, did I mention you can change colors with ::spacebar::? Go ahead, try it now! But remember, YOU ONLY GET ONE color are a time.
  p Each round is one minute. The whole internet is playin' the same game at the same time - so it's a fair match, ya hear? Think you can fall the furthest? Give it your best shot. But remember, YOU ONLY GET ONE minute!
  p Ready to join the game? Great! But first things first...
  h1 What is your name?
  form#name-form
    input.textfield#player-name(type="text", placeholder="{{placeholder}}")
    input.submit#submit-name(type="submit", value="GO")
